<div class="container">
  <div class="item">
    <div class="img-container">
      <img src="{{ site.baseurl }}/code.png" alt="Image 1">
    </div>
    <h2>Languages</h2>
    <p>I had a basic knowledge about a lot of programming languages, mainly C/C++, Python, Java, JS/TS, PHP.
    </p>
  </div>
  <div class="item">
    <div class="img-container">
      <img src="{{ site.baseurl }}/tux.png" alt="Image 2">
    </div>
    <h2>Linux</h2>
    <p>My strong side. I have some knowledge about RHEL, Proxmox, Debian, Ubuntu.</p>
  </div>
  <div class="item">
    <div class="img-container">
      <img src="{{ site.baseurl }}/tools.png" alt="Image 3">
    </div>
    <h2>Tools</h2>
    <p>I'm familiar with many tools like Git, HBCD, Postman, Docker (future), CLI-interfaces</p>
  </div>
</div>
