@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #98acb3 !default;
$background-color: #181818 !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

//own settings
img {
  border-radius: 10px;
}
.container {
  display: flex; 
  justify-content: space-between;
}

.item {
  width: 33%;
  text-align: center; 
  align-items: center;    
  display: flex;          
      flex-direction: column;
}

.item img {
  display: inline-block; 
  vertical-align: middle;
  width: 70%;
  height: auto;
  aspect-ratio: 1;
}
.img-container::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.item p {
  margin-top: 10px;
}
#skin-switch-box {
  background-color: #fff;
  width: 2%;
  margin: 1%;
  border-radius: 20px;
  position: fixed;
  // margin-top: 65%;
  aspect-ratio: 1;
  right: 1%;
  bottom: 1%;
  display: flex;          
  flex-direction: column;
  align-items: center;   
}
#skin-switch-box img {
  display: inline-block;
  vertical-align: middle;
  aspect-ratio: 1;
}
.img-container {
  border-radius: 20px;
  background: white;
  width: 40%;
  aspect-ratio: 1; 
  margin: 5%;
  padding: 1%;
}
.site-title {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.site-title img {
  height: 30px; 
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 600px) {
  #skin-switch-box {
    width: 8vw;
    height: 8vw;
    aspect-ratio: 1;
  }
}
