<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

<!-- temp -->
<div id="skin-switch-box" style="display: block; text-align: right; padding: 10px;">
  <img src="{{ '/bulb.png' | absolute_url}}" alt="BULB">
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var metaTag = document.getElementById("stylesheet");
    var skinSwitchBox = document.getElementById("skin-switch-box");
    console.log("metaTag:", metaTag);
    console.log("skinSwitchBox:", skinSwitchBox);
    if (!metaTag || !skinSwitchBox) {
      console.error("Nie znaleziono metaTag lub skinSwitchBox!");
      return;
    }

    var basePath = "{{ '/assets/' | absolute_url }}";
    var defaultCSS = basePath + "main.css";
    var lightCSS = basePath + "minima-light.css"; 
    var prevSkin = localStorage.getItem("minima-ss") || defaultCSS;

    console.log("Załadowany styl:", prevSkin);

    if (prevSkin !== defaultCSS) {
      metaTag.href = prevSkin + "?v=" + new Date().getTime();
      console.log("Ustawiono styl na:", metaTag.href);
    }

    setTimeout(() => {
      document.body.style.visibility = "visible";
      document.body.style.opacity = "1";
    }, 50);

    skinSwitchBox.addEventListener("click", function () {
      console.log("Kliknięto zmianę stylu!");

      var currentCSS = metaTag.href.includes("main.css") ? defaultCSS : lightCSS;
      var newCSS = currentCSS === defaultCSS ? lightCSS : defaultCSS;

      console.log("Nowy styl:", newCSS);

      document.body.classList.add("fade-out");
      document.body.style.visibility = "hidden";
      document.body.style.opacity = "0";
      setTimeout(() => {
        metaTag.href = newCSS + "?v=" + new Date().getTime();
        localStorage.setItem("minima-ss", newCSS);
        console.log("Zapisano nowy styl:", localStorage.getItem("minima-ss"));
        
        document.body.classList.remove("fade-out");
        document.body.classList.add("fade-in");
        document.body.style.visibility = "visible";
        document.body.style.opacity = "1";
      }, 300);
    });
  });
</script>

  </body>

</html>
